
*{
    margin:0;
    padding:0;
    font-family: 'Poppins';
}


.footer-section{
    text-align: center;
    background:#0e0e0e;
    margin:0;
}
.footer-section h1{
    color:#fff;
    padding-top:10px;
    font-size: 50px;
}
.footer-section h1 span{
    color:darkorange;
}
.footer-section p{
    color:#fff;
    padding:0;
}
#footer-quotes{ /*Love yourself*/
    padding-bottom:20px;
}
.footer-link{   /*FacebookInstagram*/
    padding-bottom:50px;
}
.footer-link a{ /*FacebookInstagram*/
    text-decoration: none;
    padding:0 15px;
    color:#fff;
}
.footer-section .devlp{
    padding-bottom: 15px;
    width: 20%;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    box-shadow: 2px 2px 25px gray;
}
.devlp a{
    text-decoration: none;
    color:#fff;
    font-size: 25px;
}
@media only screen  and(max-width: 300px){
    .footer-section .devlp{
    padding-bottom: 15px;
    width: 100%;
    
}
@media only screen  and(max-width: 400px){
    .footer-section .devlp{
    padding-bottom: 15px;
    width: 100%;
    
}


